html,
body {
    margin: 0px;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}

#headerSection {
    background-image: linear-gradient(38deg, rgba(12, 165, 157, 1) 62%, rgba(0, 168, 255, 1) 81%);
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.headerLogo {
    width: 200px;
}

#headerLinks {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.1rem   ;
}

#topContent {
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    min-height: 650px;
}

.leftContent {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}

.leftContent > .heading {
    font-size: 1.2rem;
}

.leftContent > .mainHeading {
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}

.leftContent > .mainContent {
    font-size: 1.25rem;
    line-height: 1.6;
    padding-right: 80px;
}

.leftContent > .contentBtn {
    width: 150px;
    margin-top: 20px;
    padding: 20px;
    border: 0px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #ffc107;
}

.rightContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContent > img {
    width: 700px;
}

.solutionContent {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    min-height: 500px;
}

.solutionContent > .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.solutionContent > .header >.heading {
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: #333;
}

.header > .description {
    color:  #57647c;
    max-width: 900px;
    box-sizing: border-box;
    text-align: center;
}

.solutions {
    display: flex;
    flex-direction: row;
    padding: 30px 10px;
    justify-content: space-evenly;
    align-items: center;
}

.solutionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 10px;
}

.solutionHeading {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px;
    color: #333;
}

.solutionDesc {
    text-align: center;
    color: #57647c;
}

#benefitsContent {
    display: flex;
    flex-direction: row;
    color: black;
    min-height: 100px;
    padding: 20px 40px;
}

#benefitsContent > .rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 700px;
}

#benefitsContent > .rightContent > .heading {
    font-weight: bolder;
    font-size: 2rem;
    max-width: 650px;
    color: #333;
}

#benefitsContent > .rightContent > .description {
    color: #57647c;
    font-size: 1.1rem;
    margin-top: 15px;
}

.benefitsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.benefitsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.benefitsContainer > img {
    background-color: #0ca59d;
    height: 20px;
    width: 20px;
}

.benefitsDescription {
    margin-left: 10px;
    color: 334754;
    font-weight: bold;
}

#benefitsContent > .leftContent {
    width: 50%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#benefitsContent > .leftContent > img {
    width: 70%;
}

.pointsHeader {
    color: #0ca59d;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.pointsContent {
    color: black;
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
}

.leftPoints > .pointsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.leftPoints > .pointsContainer > #pointsHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.leftImage {
    margin-left: 10px;
}

.pointsDescriptionLeft {
    color: #57647c;
    max-width: 500px;
    margin-bottom: 40px;
    text-align: end;
}

.pointsDescriptionRight {
    color: #57647c;
    max-width: 500px;
    margin-bottom: 40px;
    text-align: start;
}

.rightPoints > #pointsContainer > .pointsHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.rightimage {
    margin-right: 10px;
}

.industryContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#industryHeader > .header {
    color: #33475B;
    font-weight: bolder;
    text-align: center;
    font-size: 2.5rem;
}

#industryHeader > .description {
    color: #57647c;
    max-width: 700px;
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
}

.industryList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    width: 100%;

}

.industryName {
    color: #57647c;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    min-height: 80px;
    border-radius: 10px;
    max-width: 350px;
    width: 20%;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.industryName:hover {
    background-color: #08756F;
    color: white;
}

.reviewsContent {
    background-image: linear-gradient(38deg, rgba(12, 165, 157, 1) 62%, rgba(0, 168, 255, 1) 81%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.reviewsHeader > .header {
    font-weight: bolder;
    font-size: 2.5rem;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.reviewsHeader > .description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.reviewsModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewsContainer {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.reviewsCard {
    position: relative;
    background-color: white;
    color: #57647c;
    font-weight: bold;
    padding: 40px;
    border-radius: 10px;
    height: 250px;
    width: 300px;
}

.reviewQuotes {
    background-color: #08756F;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -28px;
    left: -25px;
}

.reviewQuotes > img {
    width: 35px;
    height: 35px;
}

.userReviews {
    line-height: 1.7rem;
}

.reviewsPointer {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 25px solid white;
    position: absolute;
    bottom: -10px;
    right: 325px;
}

.userCard {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 5px;
}

.userCard > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.userDetails {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.userName {
    font-weight: bold;
}

.footer {
    background-color: #182c51;
    display: flex;
    flex-direction: row;
    padding: 100px 50px;
}

.footer > .leftContent {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.footer > .leftContent > .logo {
    width: 250px;
    height: 100px;
    margin-bottom: 30px;
}

.socialLinks {
    display: flex;
    margin-top: 30px;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.socialButton {
    background-color: #333333;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > .rightContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.serviceLinksSection, .quickLinksSection, .contactsSection {
    height: 100%;
}

.serviceLinksSection > .header, .quickLinksSection > .header, .contactsSection > .header {
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 2px solid #ffac00;
    margin-bottom: 35px;
}

.serviceLinks, .quickLinks {
    display: grid;
    gap: 15px;
}

.address, .email, .contactNumber {
    margin-bottom: 15px;
}